#
# This is an example of a dagmaker.rc file
# The DAGMaker will look for this file in the same dir where it is running.
# If this file is not found by the DAGMaker.sh script,
# the dag will be created using some default options which might not be optimal.
# Please change this to reflect your desired configuration.
#
RNUM=2
#
PNUM=08
#
SEASON=70
#
DIFFIMG_EUPS_VERSION=gwdevel12
#
WRITEDB=on
#
JOBSUB_OPTS=" --email-to=kherner@fnal.gov --append_condor_requirements='(target.GLIDEIN_Site\ isnt\ \\\"MIT\\\")'"
#
JOBSUB_OPTS_SE="--memory=3000MB --disk=94GB --cpu=4 --expected-lifetime=18h"
#
RESOURCES="DEDICATED,OPPORTUNISTIC,OFFSITE,FERMICLOUD"
#
IGNORECALIB=false
#


